* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  --link-color: #4e80ee;
  --text-color: #030616;
  --faq-title-bg-color: #ffffff;
  --page-container-bg-color: #f8fafc;
   font-weight: 400;
}

.page-container {
  width: 85%;
  margin: 0 auto;
  max-width: 95%;
  background-color: var(--page-container-bg-color);
}

.faq-title {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 2rem 0;
  text-align: center;
  background-color: var(--faq-title-bg-color);
}

.faq-title h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.faq-title p {
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
}
.qa-block {
  margin: 1rem;
  max-width: 585px;
}

.qa-block li {
  list-style-position: inside;
  font-size: 1rem;
}

.qa-block li:first-child {
  margin-top: 1.25rem;
}
.qa-block li:last-child {
  margin-bottom: 1.25rem;
}
.question {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  color: var(--link-color);
}

p {
  margin: 0.5rem 0;
}
